<!DOCTYPE html>
<html lang="en">
<head>
  <title>Please Login First</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/myscripts.js')}}"></script>
  
</head>
<body>
<div class="container" id="body">
  <h2>My Test Banks</h2>
  <p>Here is the list of questions in the chapter. Please select one to update.</p>  

  <table class="table">
    <thead>
      <tr>
        <td>id</td>
        <td>Question</td>
        <td>Answer</td>
        <td> Modify </td>
        <td> Delete </td>
      </tr>
    </thead>
    {% for item in table %}
        <tr>
            <td>{{ item.qid }}</td>
            <td>{{ item.question }}</td>
            <td>{{ item.solution }}</td>
            <td><a href="{{ url_for('modify_question', question_id=table[loop.index - 1].qid) }}" class="btn btn-info" role="button" >Go</a></td>
            <td><a href="{{ url_for('list_all_questions_after_delete', question_id=table[loop.index - 1].qid) }}" class="btn btn-info" role="button" >Go</a></td>
        </tr>
{% endfor %}
</table>  

</div>

<div class="container">
  <a href="{{ url_for('add_question') }}" class="btn btn-info" role="button" >Add a Question</a>
  <a href="{{ url_for('list_chapters') }}" class="btn btn-info" role="button" >Back to My Chapters</a>
  <p hidden id='mytable'>{{ table }}</p>
  <!-- <button type="button" class="btn btn-info">Button</button>
  <input type="button" class="btn btn-info" value="Input Button">
  <input type="submit" class="btn btn-info" value="Submit Button"> -->
</div>

</body>
</html>